body {
  margin: 0px;
  font-family: "Quicksand", sans-serif;
}
nav {
  display: flex;

  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px #0c1753;
}

.links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  padding-right: 30px;
  font-size: 25px;
  color: #0c1753;
  font-weight: bolder;
  text-decoration: none;
}

nav img {
  max-width: 200px;
  padding-left: 30px;
}

.links li a,.links2 li a {
  text-decoration: none;
}

.part1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  background: linear-gradient(
    to left,
    rgba(12, 23, 83, 0.6),
    rgba(147, 117, 255, 0.5)
  );
  padding: 50px 10px 50px 10px;
}

.part1 img,
.part3-first img,
.part3-third img,
.part3-second img {
  max-width: 50%;
}

.part1 section h2 {
  color: white;
}

.p1 {
  color: white;
  font-size: 20px;
  line-height: 1.5em;
}

h2 {
  font-size: 40px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 450px;
  max-height: 450px;
}

#more {
  color: #00a69c;
  font-size: 30px;
  background-color: #ffe101;
  border-style: none;
  padding: 5px 40px 5px 40px;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0 2px 3px #9375ff;
}

.h2-part2 {
  color: #00a69c;
  text-align: center;
}

.part2 {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background-color: hsl(253, 100%, 95%);
}
.card-one,
.card-two,
.card-three {
  font-size: 25px;
  color: #0c1753;
  font-weight: 350;
  text-align: center;
  box-shadow: 0 2px 3px #0c1753;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  border-style: none;
}

.card-service {
  background-color: #fee552;
  border-radius: 50%;
  padding: 15px 15px 15px 15px;
  margin: 70px 70px 70px 70px;
}

.card-service img {
  max-width: 100px;
}

.part3-first,
.part3-third {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 10px 50px 10px;
}

.part3-second {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 50px 10px 50px 10px;
}

h4 {
  color: #00a69c;
  font-size: 30px;
}

#part3 p,
#part3 ul,
#part3 ol {
  color: #0c1753;
  font-size: 18px;
  line-height: 1.5em;
}

.part4 {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: #0c1753;
  color: white;
  padding-bottom: 30px;
}

h5 {
  font-size: 20px;
}

#name,
#city {
  padding: 10px 40px 10px 25px;
  margin: 10px 5px 10px 10px;
}
#email,
#subject {
  padding: 10px 297px 10px 25px;
  margin: 10px 10px 10px 10px;
}
#msg {
  padding-left: 10px;
  margin: 10px 10px 10px 10px;
}

#submit {
  position: relative;
  left: 15px;
  color: #0c1753;
  font-size: 30px;
  text-align: center;
  background-color: #ffe101;
  border-style: solid;
  border-color: #0c1753;
  border-width: 1px;
  padding: 10px 175px 10px 175px;
  border-radius: 10px;
  font-weight: 600;
}
.part4 h2 {
  padding-top: 50px;
  max-width: 250px;
}

footer{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
 background-color: hsl(253, 100%, 95%);
 padding: 50px 30px 50px 30px;
 text-align: center;

}

.links2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  gap: 20px;
  padding-right: 30px;
  font-size: 25px;
  color: #0c1753;
  font-weight: bolder;
  text-decoration: none;
 
}

footer img {
  max-width: 250px;
  max-height: 150px;
  
  
}

/* * {
    outline: solid 1px red;
}*/
